<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryan.tsa.auth.mapper.PersonMapper">

    <select id="queryList" resultType="com.ryan.tsa.auth.vo.PersonVo" parameterType="com.ryan.tsa.auth.qo.PersonQo">
        SELECT
            person_id AS personId,
            role_id AS roleId,
            name AS name,
            account AS account,
            avatar AS avatar,
            sex AS sex,
            age AS age,
            pthone AS pthone,
            email AS email,
            addr AS addr,
            onlined AS onlined,
            enabled AS enabled
        FROM
            tsa_auth_person
        <where>
            <if test="name != null and name != ''">
                AND name like concat('%', #{name, jdbcType=VARCHAR}, '%')
            </if>
            <if test="account != null and account != ''">
                AND account like concat('%', #{account, jdbcType=VARCHAR}, '%')
            </if>
            <if test="onlined != null">
                AND onlined = #{onlined}
            </if>
            <if test="enabled != null">
                AND enabled = #{enabled}
            </if>
            <if test="deleted != null">
                AND deleted = #{deleted}
            </if>
        </where>
    </select>

    <update id="updateOnlined">
        UPDATE
            tsa_auth_person
        SET
            onlined = #{onlined},
            updated_time = NOW()
        WHERE
            person_id = #{personId}
    </update>

    <update id="bacthDelete">
        UPDATE
            tsa_auth_person
        SET
            deleted = 1,
            updated_time = NOW()
        WHERE
            person_id IN (#{ids})
    </update>

</mapper>
